bar-chart {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.x-axis {
    path {
        fill: white;
        opacity: 1;
    }
    .tick {
    	font-size: 12px;
        fill: white;
    }
}
